body{
    background-image: url("bkg.PNG");
}

header{
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    color: gray;
    text-align:center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 50x;
}

img {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  h1 {
    font-family:sans-serif;
    text-align: left;
    font-size:16px;
    color: gray;
    padding-left: 20px;

  }
  
  h2 {
    font-family:sans-serif;
    text-align: left;
    font-size:14px;
    color: gray;
    padding-left: 20px;
  }
  h3 {
    font-family:sans-serif;
    text-align: left;
    font-size:12px;
    color: gray;
    padding-left: 20px;
  }
  
  p {
    font-family:sans-serif;
    text-align: left;
    font-size:12px;
    color: gray;
    padding-left: 20px;

  }